/*------------------------------------------------------------------
    Main Style Stylesheet
    Project:        chickeria-volketswil.ch
    Version:        1.0
    Author:         Raffael Ernst
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
body
 + WRAP
 + HEADER
 + NAVIGATION
 + BANNER
 + SERVICES
 + OUR FEATURED FOUNDERS
 + BLOG UPDATES
 + APPOINMENT
 + NEWS FROM BLOG
 + PARTNERS / CLIENTS
 + FOOTER
 + SOCIAL ICONS
 + MEGA MENU
 + 3 MENU LEVEL
-------------------------------------------------------------------*/
/*=======================================================
      THEME STYLING START
========================================================*/
* {
	margin: 0px;
	padding: 0px;
}
body {
	background: #FFF;
	font-weight: normal;
	position: relative;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	word-break: break-word;
}
/*=======================================================
      WRAPPER
========================================================*/
#wrap {
	position: relative;
	width: 100%;
	overflow: hidden;
}
/*=======================================================
      HEADINGS
========================================================*/
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #252525;
	font-family: 'Josefin Sans';
	font-weight: bold;
	text-transform: uppercase;
}
h1 {
	font-size: 42px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 20px;
}
h6 {
	font-size: 16px;
	font-weight: bold;
}
p {
	font-weight: 400;
	color: #6f6f6f;
	font-size: 16px;
	line-height: 26px;
	text-rendering: optimizeLegibility;
	font-family: 'Open Sans', sans-serif;
}
button {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.font-josefin {
	font-family: 'Josefin Sans';
}
.font-alex {
	font-family: 'Alex Brush';
}
a {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	text-decoration: none !important;
}
img {
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	display: inline-block !important;
}
ul {
	margin-bottom: 0px;
}
li {
	list-style: none;
	padding-left:15px;
	margin-bottom:10px;
}
a {
	text-decoration: none;
	color: #141414;
}
p.intro-small {
	width: 80%;
	margin: 0 auto;
}
.text-transform-none {
	text-transform: none !important;
}
.text-white {
	color: #fff !important;
}
.text-bold {
	font-weight: bold !important;
}
.text-normal {
	font-weight: normal !important;
}
.font-12px {
	font-size: 12px !important;
}
.font-14px {
	font-size: 14px !important;
}
.font-16px {
	font-size: 16px !important;
}
.font-18px {
	font-size: 18px !important;
}
.font-20px {
	font-size: 20px !important;
}
.font-bold {
	font-weight: bold !important;
}
.font-normal {
	font-weight: normal !important;
}
.white-text {
	color: #fff !important;
}
.font-italic {
	font-style: italic;
}
.font-bold {
	font-weight: bold !important;
}
a:hover, a:focus {
	color: #bf2424;
}
.primary-color {
	color: #ffe115 !important;
}
.border-bottom-1 {
	border-bottom: 1px solid #ededed;
}
.position-center-center {
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.white-bg {
	background: #fff !important;
}
.relative {
	position: relative;
}
.line-height-24 {
	line-height: 24px !important;
}
.line-height-22 {
	line-height: 22px !important;
}
.line-height-26 {
	line-height: 26px !important;
}
.dark-text p {
	color: #141414;
}
.light-gray-bg {
	background: #f3f3f3 !important;
}


/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
.top-bar {
    min-height: 40px;
    background: #d93d2d;
    position: relative;
    z-index: 999;
}


.top-bar .left-content > *,
.top-bar .right-content > *{
    font-size: 18px;
    font-family: 'Josefin Sans';
    color: #fff;
    line-height: 40px;
    font-style: italic;
    font-weight: bold;
}
.top-bar .left-content > *{
    padding-right: 15px;
    margin-right:15px;
    border-right: 1px solid rgba(255,255,255,0.2);
}
.top-bar .left-content > *:last-child{
    padding-right: 0;
    margin-right:0;
    border-right: none;
}

@media(max-width:767px){
	.top-bar .left-content,
	.top-bar .right-content{
		float:none;
		text-align:center;
	}
}

.top-bar .left-content{
	float:left;
}
.top-bar .right-content{
	float:right;
	}
.top-nav{
	display:inline-block;
}
.top-nav li{
	display:inline-block;
	margin-right:5px;
	padding:0;
	margin-bottom:0;
}
.top-nav li:last-child{
	margin-right:0;
}

.top-bar .social-icons{
	display:inline-block;
	margin-top:0px;
}
.top-bar .social-icons li{
	display:inline-block;
	padding:0;
	margin-bottom:0;
}
.top-bar .social-icons a{
	font-size:14px;
	color: #e1aaaa;
	margin: 0px 6px;
}
.top-bar .social-icons a:hover{
	color:#fff;
}
.top-bar .social-icons .fa{
	margin-right:0;
}
.top-bar .left-content > *,
.top-bar .right-content > *{
    font-size: 18px;
    font-family: 'Josefin Sans';
    color: #fff;
    line-height: 40px;
    font-style: italic;
    font-weight: bold;
}
.top-bar .left-content > *{
    padding-right: 15px;
	margin-right:15px;
    border-right: 1px solid rgba(255,255,255,0.2);
}
.top-bar .left-content > *:last-child{
    padding-right: 0;
	margin-right:0;
    border-right: none;
}
.top-bar .right-content > *{
    padding-left: 15px;
	margin-left:15px;
    border-left: 1px solid rgba(255,255,255,0.2);
}
.top-bar .right-content > *:first-child{
    padding-left: 0;
	margin-left:0;
    border-left: none;
}
.top-bar a{
	color:#fff;
}
.top-bar a:hover{
	color: #e1aaaa;
}
.top-bar .fa{
	margin-right:10px;
}
@media(max-width:991px){
	.top-bar .left-content > *, .top-bar .right-content > *{
		font-size: 14px;
	}
	.top-bar .left-content > *{
		padding-right: 10px;
		margin-right: 10px;
	}
	.top-bar .right-content > *{
		padding-left: 10px;
		margin-left: 10px;
	}
}
